[submodule "endpoint-without-sql"]
	path = endpoint-without-sql
	url = https://github.com/malykhnik/endpoint-without-sql.git
[submodule "endpoint-with-sql"]
	path = endpoint-with-sql
	url = https://github.com/malykhnik/endpoint-with-sql.git
[submodule "endpoint-with-nosql"]
	path = endpoint-with-nosql
	url = https://github.com/malykhnik/endpoint-with-nosql.git
